.gallery-wrap {
  position: relative;
  overflow: hidden;
  max-width: 320px;
  height: 404px;
  border-radius: 25px;
  background-image: linear-gradient(
    135deg,
    #a3c9ea 0%,
    #6bb3ef 38%,
    #193d5b 96%
  );
}
.gallery-wrap-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 30px 0 25px 0;
}

.gallery-wrap-list {
  /* margin-bottom: 24px; */
}
.gallery-wrap-item {
  width: 285px;
  height: 260px;
  margin: 0 auto;
  border-radius: 10px;

  transition: opacity 0.5s ease-in-out;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.arrows button {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 25px;
  height: 33px;
  cursor: pointer;
}
.indicators {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}
.indicator {
  height: 12px;
  width: 12px;
  background-color: #96b3eb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.indicator.active {
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .gallery-wrap-list {
    display: flex;
    justify-content: center;
    gap: 35px; /* Відступ між елементами */
    list-style: none; /* Забираємо стилі списку */
    padding: 0; /* Забираємо внутрішні відступи */
    margin: 0 0 20px 0; /* Відступ між рядами */
  }

  .gallery-row-first .gallery-wrap-item {
    border-radius: 10px;
    width: 499px;
    height: 529px;
    object-fit: cover; /* Зберігає пропорції зображень */
  }

  .gallery-row-second .gallery-wrap-item {
    border-radius: 10px;
    width: 286px;
    height: 251px;
    object-fit: cover; /* Зберігає пропорції зображень */
  }
}
