.why-us {
    padding-bottom: 75px;
  }
  .why-us-container {
    position: relative;
    border-radius: 25px;
    width: 300px;
    height: 721px;
    background: linear-gradient(135deg, #a3c9ea 0%, #6bb3ef 38%, #193d5b 96%);
  }
  
  .why-us-title {
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #000;
    padding-top: 30px;
    padding-bottom: 49px;
  }
  .why-us-list {
  }
  .why-us-item {
    display: flex;
    align-items: center;
    padding: 0 11px;
  }
  
  .why-us-item.second {
    flex-direction: row-reverse;
  
    justify-content: flex-end;
  }
  .why-us-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #135c98;
    padding: 10.5px;
    /* margin-left: 21px; */
    margin: 0 auto;
    border-radius: 64px;
  
    
  }
  
  .why-us-circle.second {
    background-color: #96b3eb;
    
  }
  .why-us-img {
    width: 19px;
    /* height: 19px; */
  }
  
  .why-us-wrap-text {
    padding: 0px 10px;
    padding-left: 30px;
    margin-bottom: 25px;
  
    width: 278px;
    /* height: 72px; */
  }
  .why-us-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #000;
  }
  .why-us-bolt {
    font-weight: 700;
  }
  
  .why-us-boat-img {
    position: absolute;
    border-radius: 25px;
  
    width: 109px;
    height: 79px;
    bottom: 0;
    right: 0;
  }
  
  @media screen and (min-width: 1200px) {
    .why-us {
      padding-bottom: 89px;
    }
  
    .why-us-container {
      width: 1150px;
      height: 1028px;
    }
  
    .why-us-title {
      font-size: 40px;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .why-us-list {
      display: flex;
      /* flex-wrap: wrap; */
      /* justify-content: space-between; */
  
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-between; */
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .why-us-item {
      /* display: flex;
      align-items: center;
      padding: 0 70px; */
  
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      width: 48%;
    }
  
    .why-us-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 128px;
  
      padding: 40px;
      /* margin-left: 21px; */
      margin: 0 auto;
    }
  
    .why-us-circle.second {
      background-color: #96b3eb;
    }
    .why-us-img {
      width: 48px;
      /* height: 47px;і */
    }
  
    .why-us-wrap-text {
      padding: 0px 30px;
      /* width: 606px;
      height: 64px; */
  
      width: 278px;
      /* height: 72px; */
    }
    .why-us-text {
      font-weight: 400;
      font-size: 24px;
    }
    .why-us-bolt {
      font-weight: 700;
    }
  
    .why-us-boat-img {
      position: absolute;
      border-radius: 25px;
  
      width: 109px;
      height: 79px;
      bottom: 0;
      right: 0;
    }
  }
  